#left {
    width: 24%;
    float: left;
    height: 100%;
    padding-right: 3px;
    position: fixed;
    left: 1px;
    top: 42px;
}

#center {
    position: fixed;
    border-left: 2px solid black;
    width: 74%;
    float: left;
    left: 25%;
    top: 42px;
    height: 95%;
    padding-left: 3px;
}

#body {
    overflow: hidden;
    clear: both;
    height: 100%;
}

#textarea, #newtextarea {
    width: 100%;
    height: 60px;
    float: left;
    overflow: visible;
    min-height: 60px;
}

.send {
    width: 11%;
    height: 65px;
    float: left;
    margin-left: 2%;
    text-align: center;
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
}

#form {
    padding: 1px;
    display: none;
    position: fixed;
    bottom: 2px;
    height: 68px;
    margin-top: 20px;
}

#conversation {
    padding: 2px;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 75%;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 2px;
}

.messageLeft {
    background-color: #e5e5e5;
}

.messageRight, .messageLeft {
    display: block;
    width: 95%;
}

.clickable {
    cursor: pointer;
}

.selected {
    background-color: #fff;
    font-weight: bold;
}

.date {
    float: right;
    margin-right: 3px;
    display: inline;
    font-weight: lighter;
    font-style: italic;
    color: #747070;
}

.username {
    float: left;
    font-weight: bold;
}

body {
    background-color: #f5f5f5;
}

html, body {
    overflow: hidden;
    height: 100%;
    font-family: Calibri;
}

.small {
    font-size: small;
}

.convli {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top:10px;
    padding-bottom:10px;
}

    .convli:hover {
        background-color: #bfbfbf;
    }

#header {
    background-color: #afafaf;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    color: black;
    font-weight: bolder;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    font-size: x-large;
}

    #header div {
        height: 100%;
    }

#logout, #newConv {
    margin-left: 3px;
    margin-right: 0px;
}

    #logout:hover, #newConv:hover {
        background-color: #dce371;
    }
