#left {
    width: 24%;
    float: left;
    height: 100%;
    padding-right:3px;
    position:fixed;
    left: 1px;
    top: 32px;
}

#center {
    position:fixed;
    border-left: 2px solid black;
    width: 74%;
    float: left;
    left: 25%;
    top: 32px;
    height: 95%;
    padding-left: 3px;
}

#body {
    overflow: hidden;
    clear: both;
    height: 100%;
}

#textarea {
    width: 60%;
    height: 60px;
    float:left;
    overflow: visible;
    min-height: 60px;
    min-width: 60%;
}

#send {
    width: 12%;
    height: 65px;
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    text-align:center;
    padding: 0px;
}

#form {
    padding:1px;
    display: none;
    position: fixed;
    bottom: 2px;
    height: 70px;
    margin-top: 15px;
}

#conversation {
    padding:2px;
    overflow: scroll;
    height:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    height: 80%;
}

ul, ol {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

li {
    margin-bottom: 2px;
}

.messageLeft {
    background-color: #e5e5e5;
}

.messageRight, .messageLeft {
    display: block;
    width:95%;
}

.clickable {
    cursor: pointer;
}

.date {
    float:right;
    margin-right:3px;
    display: inline;
    font-weight: lighter;
}

.username {
    float:left;
    font-weight: bold;
}

body {
    background-color: #f5f5f5;
}

html, body {
    overflow: hidden;
    height: 100%;
}

#header {
    position:fixed;
    top: 2px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bolder;
    overflow: hidden;
}

#header div {
    border: 1px solid #000;
    margin-right: 15px;
    margin-top:3px;
}